:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0;
  height: 100%; /* Asegúrate de que el body ocupe toda la altura */
}

.card_login {

}

.img-fluid {
  margin: 10px !important;
}


/*========== ESTILOS DEL LOGO ========== */

.logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_ppal {
  cursor: pointer;
  width: 40px !important;
  transition: all 0.5s;
  margin-right: 10px;
}



.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0; 
}

.footer {
  margin-top: auto;
}

@media (min-width: 992px) {
  .content {
    margin-left: 250px; 
  }
}

.logo_ppal:hover {
  filter: saturate(3);
  transition: all 0.5s;
}

.logo_letras {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #2c2c2c;
}

.negrita {
  font-weight: bold !important;
}

/* ======================= */



body {
  font-size: 20px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  margin: 20px !important;
  padding: 10px 20px !important;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px !important;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s ease;
}



input {
  margin: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #dbdbdb;
  height: 40px;
  text-align: center;
  transition: all 0.5s;
  font-size: 15px;
}

input:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;
}

.home-button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #00458f !important;
  transition: unset;
  transition: all 0.1s;
}

footer.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: relative; 
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

footer.footer p {
  margin: 0;
}

button:hover {
  transition: all 0.5s;
  background-color: #3195ff;
}

.clipboard-display {
  margin: 40px;
  box-sizing: border-box;  
  background-color: #f8f9fa;
  border-radius: 40px;
  animation: animacionPortapapeles 4s infinite linear;
}

@keyframes animacionPortapapeles {
  0% {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 35px rgba(0, 123, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
  }
}


.clipboard-display p {
  font-family: monospace;
  padding: 30px;
  text-align: center;
}

.clipboard-display img {
  padding: 20px;
  border-radius: 40px;
  width: 400px;
}

.clipboard-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  text-align: center;
  font-family: monospace;
  transition: all 0.5s;
}
.clipboard-box:hover {
background-color: #a4d0ff;
transition: all 0.5s;
}

.device-card {
  padding: 20px;
  background-color: #d1d1d1;
  border-radius: 8px;
  margin: 40px;
  text-align: justify;
}

.device-card .d-flex {
  gap: 5px;
  justify-content: center;
}

.device-card .d-flex img {
  margin: 0;
}
.device-card .d-flex img + img {
  margin-left: 5px; 
}

.boton_aux {
  border-radius: 100px !important;
  
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  position: fixed; /* Fija el spinner en la pantalla */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.cargando {
  font-size: 80px;
  animation: cargando-animacion 1.5s infinite linear;
  color: #007BFF;
}

@keyframes cargando-animacion {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.device-card {
  padding: 30px;
  background-color: #d1d1d1;
  border-radius: 8px;
  margin: 20px;
  text-align: justify;
}

/*ESTILOS MENU*/

.bg-light {
  -webkit-box-shadow: 22px 7px 37px -32px rgba(158,158,158,1);
  -moz-box-shadow: 22px 7px 37px -32px rgba(158,158,158,1);
  box-shadow: 22px 7px 37px -32px rgba(158,158,158,1);
}

.nav-link {
  color: #0a0a0a !important;
  font-size: 22px !important;
  padding: 15px !important;
}

.nav-link:hover {
  color: #007BFF !important;
}

.usuario {
  color: rgb(78, 78, 78) !important;
  cursor: unset !important;
}

.usuario:hover{
  color: rgb(78, 78, 78) !important;
  cursor: unset !important;
}

/* ========== MODO OSCURO ===========*/

@media (prefers-color-scheme: dark) {

  body {
    background-color: #161616;
  }

  .clipboard-display {
    background-color: #424242;
  }

  input {
    background-color: #333;
  }

  input:hover {
    background-color: #444444;
  }

  /* ESTILOS DEL LOGO*/

  .logo_letras {
    color: #aaaaaa;
  }

  .device-card {
    background-color: #444444;
  }


}