.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .home-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  